@page
@model NGordat.Net.FederatedCryptoNetwork.Web.Pages.Admin.IndexModel
@{
}

<div class="bg-theme-light">
    <form method="post">
        @if (!string.IsNullOrEmpty(Model.SuccessMessage))
        {
            <p class="alert alert-success">@Model.SuccessMessage</p>
        }
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p class="alert alert-danger">@Model.ErrorMessage</p>
        }
        <h5>Database</h5>
        <button type="submit" name="EnsureCreated" class="btn btn-warning" asp-page-handler="EnsureCreated">EnsureCreated</button>
        <hr />
        <h5>Data</h5>
        <button type="submit" name="InitFaucet" class="btn btn-warning" asp-page-handler="Init" asp-route-initType="Faucets">Create or update <strong>Faucets</strong></button>
    </form>
</div>