<div class="d-flex justify-content-center">
    <a target="_blank" href="https://faucetcrypto.com/ref/1310289"><img src="https://faucetcrypto.com/banners/728x90.gif" width="728" height="90"></a>
</div>
<div class="d-flex justify-content-center sticky-footer">
    &copy; CryptoRef.xyz 2021
</div>