@page
@model NGordat.Net.FederatedCryptoNetwork.Web.Pages.Mining.HddModel
@{
}

<div class="my-3 p-2 bg-white rounded box-shadow flex-column">
    <div class="d-flex flex-row justify-content-between">
        HDD Mining
    </div>

    <div>
        HDD Mining (or farming) is a technique used to :
        <ul>
            <li>Secure the blockchain</li>
            <li><strong>Make you income</strong></li>
        </ul>

        Yieks !
        <p>HDD farming was introduced in 2017 with a crypto called 'Burst'. It has since be copied by multiple coins and popularised by the latest sucessful PoC coin : Chia.</p>
        <p>Even is Chia is a litte bit better at the moment, you should really have a look into <strong>Signa</strong> (previously named Burst), which has been around much longer, and is more useful than Chia.</p>
    </div>
</div>