@page "{name:string}"
@model NGordat.Net.FederatedCryptoNetwork.Web.Pages.Faucets.DetailsModel

@{
    ViewBag.PageTitle = "Faucets - " + Model.Faucet.Name;
}

@section Hero {
    <div class="container bg-theme-light p-4 rounded border border-warning">
        <div class="row justify-content-between">
            <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                    <h1>Earn money with our selection of currated <span>Faucets</span></h1>
                    <h2>Just fill in super easy tasks and get paid for it. You just need to have some free time to earn <span>crypto</span></h2>
                    <div class="text-center text-lg-start">
                        <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                <img src="~/images/faucets/faucet.png" class="img-fluid animated" width="500px">
            </div>
        </div>
    </div>
}

@foreach (var faucet in Model.Items)
{
    <partial name="_FaucetBox" model="faucet" />
}