@page
@model NGordat.Net.FederatedCryptoNetwork.Web.Pages.Faucets.ListModel
@{
    ViewBag.PageTitle = "FaucetCrypto";

    var model = new NGordat.Net.FederatedCryptoNetwork.Web.ViewModels.Faucets.FaucetViewModel();
    model.Name = "FaucetCrypto";
    model.PublicUrl = "https://faucetcrypto.com";
    model.AffiliateUrl = "https://faucetcrypto.com/ref/1310289";
    model.Ranking = 1;
    model.DescriptionShort = "Most complex website. Earn from PTC ads, manual faucet , auto faucet, contests , lottery and much more";
    model.Banner = "/images/faucets/faucetcrypto_728x90_inf.gif";
    model.Icon = "https://faucetcrypto.com/img/logo/favicon.png";
    model.Recommended = true;
}


@section Hero {
    <div class="container bg-theme-light p-4 rounded border border-warning">
        <div class="row justify-content-between">
            <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                    <h1>Earn money with our selection of currated <span>Faucets</span></h1>
                    <h2>Just fill in super easy tasks and get paid for it. You just need to have some free time to earn <span>crypto</span></h2>
                    <div class="text-center text-lg-start">
                        <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                <img src="~/images/faucets/faucet.png" class="img-fluid animated" width="500px">
            </div>
        </div>
    </div>
}

@foreach (var faucet in Model.Items)
{
    <partial name="_FaucetBox" model="faucet" />
}

<partial name="_FaucetBox" model="model" />