/* Particule js */

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

/* Theme */
/*
    Colors:
    dark: #272727
    light: #747474
    orange: #FF652F
    jaune: #FFE400
    vert: #14A76C
    rose: #D83F87
*/
.bg-theme-dark {
    background-color: #272727;
}
.theme-dark {
    color: #272727;
}

.bg-theme-light {
    background-color: #747474;
}
.theme-light {
    color: #747474;
}

.bg-theme-orange {
    background-color: #FF652F;
}
.theme-orange {
    color: #FF652F;
}
.box-shadow-xl-theme-orange {
    box-shadow: 0 0.4rem 2.0rem rgba(255, 101, 47, 0.8);
}

.bg-theme-yellow {
    background-color: #FFE400;
}
.theme-yellow {
    color: #FFE400;
}
.box-shadow-xl-theme-yellow {
    box-shadow: 0 0.4rem 2.0rem rgba(255, 228, 0, 0.8);
}

.bg-theme-green {
    background-color: #14A76C
}
.theme-green {
    color: #14A76C;
}
.box-shadow-xl-theme-green {
    box-shadow: 0 0.4rem 2.0rem rgba(20, 167, 108, 0.8);
}

.bg-theme-pink {
    background-color: #D83F87;
}
.theme-pink {
    color: #D83F87;
}
.box-shadow-xl-theme-pink {
    box-shadow: 0 0.4rem 2.0rem rgba(216, 63, 135, 0.8);
}

.star-checked {
    color:yellow;
}

.star-unchecked {
    color:lightyellow;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand .off{
    color: lightgray;
    font-weight: 300;
    font-stretch:semi-condensed;
    font-size: 1.5rem;
}

.navbar-brand .on {
    color: hotpink !important;
    font-weight: 900;
    font-style: oblique;
    font-size: 1.75rem;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    /*background: url("../images/hero-bg.jpg");*/
    position: relative;
    padding: 120px 0 0 0;
}

#hero:before {
    content: "";
    /*background: rgba(2, 5, 161, 0.91);*/
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(255, 255, 255, 0.8);
}

#hero h1 span, #hero h2 span {
    color: #fff;
    border-bottom: 4px solid #FF652F;
}

#hero h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
    font-size: 24px;
}

#hero .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #FF652F;
}

#hero .btn-get-started:hover {
    background: #17b57d;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #hero {
        padding-top: 80px;
    }

    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }

    #hero .hero-img {
        text-align: center;
    }

    #hero .hero-img img {
        max-width: 50%;
    }

    #hero h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #hero {
        padding-top: 80px;
    }

    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }

    #hero .hero-img {
        text-align: center;
    }

    #hero .hero-img img {
        max-width: 50%;
    }

    #hero h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.hero-waves {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 60px;
    z-index: 5;
    position: relative;
}

.wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

.sticky-footer {
    position:sticky;
    top:100%;
}

#faded {
    min-height: 50vh;
}


/* Slider */
#slider {
    position: relative;
    width: 500px;
    margin: 0;
    display: flex;
    align-items: center;
}

#prev,
#next {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    font-size: 100px;
    color: rgba(220, 220, 220, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

#slider:hover #prev,
#slider:hover #next {
    opacity: 1;
}